mixin card-content(data)
  - const imgMods = data.imgMods?.map((mod) => `card-content__img-block--${mod}`) || false
  .card-content&attributes(attributes)
    .card-content__img-block(class=imgMods ? imgMods : '')
      +img(data.img)
    .card-content__content-block
      .card-content__price-block
        span.card-content__price!=data.price
        if data.oldPrice
          span.card-content__old-price!=data.oldPrice
      h2.card-content__title!=data.title
      p.card-content__text!=data.text
      if data.descs
        ul.card-content__descs
          each desc in data.descs
            li.card-content__desc
              +icon(desc.name, desc.width, desc.height)
              span.card-content__desc-item!=desc.item
              span!=desc.info
      ul.card-content__buttons
        each btn in data.btns
          li.card-content__button-item
            +btn(btn)
